.header-text{
    color:#4060B4;
    font-weight: bold;
    font-style: italic;
}

.pass-text{
    color:#28A11B;
    font-weight: bold;
    font-style: italic;
    font-family:sans-serif;
}

.pass-icon{
    font-size: 100px;
    color: #28A11B;
    text-align: center;
    display: block;
}

